<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Building Ownership Application</title>

  <!-- CSS + FONTS-->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' type='text/css'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' type='text/css'>
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' type='text/css'>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="/stylesheets/404.css" type='text/css'>
  <link rel="stylesheet" href="/stylesheets/form-elements.css" type='text/css'>
  <link rel="stylesheet" href="/stylesheets/style.css" type='text/css'>
</head>
<body>
</body>