<template name="NewUnit">
    <div class="new-element-container">
        <i class="fa fa-close"></i>
        <form novalidate="novalidate" class="new-unit-form" id="insertUnit">
            <div class="panel panel-default">
                <div class="panel-heading">Units</div>    
                <ul class="list-group">
                    <li class="list-group-item autoform-array-item">
                        <div>
                            <div class="autoform-array-item-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div data-required="true" class="form-group">
                                            <label class="control-label" for="unitNumber">Unit number</label>
                                            <input class="form-control" required="" id="unitNumber" name="unitNumber" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="sqFootage">Square footage</label>
                                            <input class="form-control" id="sqFootage" name="sqFootage" type="number" min="0">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="residents">Residents</label>
                                            <input class="form-control" id="residents" name="residents" type="number" min="0">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="tenant">Tenant</label>
                                            <input class="form-control" id="tenant" name="tenant" placeholder="@email" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</template>