<template name="Units">
    {{#if $.Session.get 'newUnit'}}
		{{> NewUnit}}
	{{else}}
		<button class="new-element">Add Unit</button>
	{{/if}}	
	<section class="element">
		{{#if Template.subscriptionsReady}}
			{{#each units}}
				{{> Unit}}
			{{/each}}
		{{else}}
			<p>Loading...</p>
		{{/if}}
	</section>
</template>