<template name="Unit">
    <article class="element in-menu">
        <h4>{{unitNumber}}</h4>
        {{#if editMode}}
            <form novalidate="novalidate" class="new-element-container" id="updateUnitId">
                <div class="panel panel-default">
                    <div class="panel-heading">Units</div>    
                    <ul class="list-group">
                        <li class="list-group-item autoform-array-item">
                            <div>
                                <div class="autoform-array-item-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div data-required="true" class="form-group">
                                                <label class="control-label" for="unitNumber">Unit number</label>
                                                <input class="form-control" value={{unitNumber}} required="" id="unitNumber" name="unitNumber" type="text" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="sqFootage">Square footage</label>
                                                <input class="form-control" value={{squareFootage}} required="" id="sqFootage" name="sqFootage" type="number" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="residents">Residents</label>
                                                <input class="form-control" value={{residents}} id="residents" name="residents" type="number">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="tenant">Tenant</label>
                                                <input class="form-control" value={{tenant}} id="tenant" name="tenant" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        {{else}}
            <p>SquareFootage: {{squareFootage}}</p>
            <p>Total Residents: {{residents}}</p>
            <p>Tenant: {{tenant}}</p>
        {{/if}}
        <i class="fa fa-trash"></i>
        <i class="fa fa-pencil"></i>
    </article>
</template>