.wrap-notfound{
	margin:0 auto; 
	width: 96%;
}
.main-notfound{
	text-align:center;
	margin:4% 0 0%;
}
.h1-notfound{
	font-family: 'Condiment', cursive;
	margin-top:20px;
	color: #EA3C4D;
	font-size: 2.4em;
	text-transform:capitalize;
	font-weight: bold;
}
.para-notfound{
	color:#999;
	font-size: 0.9em;
	line-height: 1.8em;
}
/*footer*/
.footer-notfound{
	font-family: "Century Gothic";
	position: absolute;
	right: 20px;
	bottom:20px;
}
/*media queries*/
@media all and (max-width:1366px) and (min-width:1280px){
	.wrap-notfound{
		width: 90%;
	}
}
@media all and (max-width:1280px) and (min-width:1024px){
	.wrap-notfound{
		width: 90%;
	}
}	
@media all and (max-width:1024px) and (min-width:800px){
	.wrap-notfound{
		width: 90%;
	}
	.main-notfound{
		margin: 6% 0 0%;
	}
}
@media all and (max-width:800px) and (min-width:640px){
	.wrap-notfound{
		width: 90%;
	}
	.main-notfound{
		margin: 8% 0 0%;
	}
}
@media all and (max-width:640px) and (min-width:480px){
	.wrap-notfound{
		width: 90%;
	}
	.h1-notfound{
		text-align: left;
		font-size: 1.8em;
	}
	.main-notfound{
		margin: 4% 0 0%;
	}
}
@media all and (max-width:480px) and (min-width:320px){
	.wrap-notfound{
		width: 90%;
	}
	.h1-notfound{
		text-align: left;
		font-size: 1.4em;
	}
	.main-notfound{
		margin: 3% 0 0%;
	}
}
@media all and (max-width:320px){
	.wrap-notfound{
		width: 90%;
	}
	.h1-notfound{
		text-align: left;
		font-size: 1.0em;
	}
	.main-notfound{
		margin: 3% 0 0%;
	}
	.para-notfound{
		margin-top:2%;
		line-height: 1.4em;
	}
	.footer-notfound{
		position: relative;
		text-align:right;
		right: 0;
		bottom:0;
	}
}