<template name="Activate">
    <div class="top-content">	
        <div class="inner-bg">
            <div class="container">
                <div class="col-sm-5 activate-center">
                    
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Activate your Account</h3>
                                <p>Enter Email and Code for Activation:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-check-square"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="email">Email</label>
                                    <input type="text" name="email" placeholder="Email" class="form-username form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="code">Code</label>
                                    <input type="text" name="code" placeholder="Activation Code" class="form-password form-control" id="code">
                                </div>
                                <button type="submit" class="btn">Activate!!</button>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        
    </div>
</template>