<template name="LogIn">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Login to our site</h3>
                <p>Enter username and password to log on:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            <p id="form-messages"></p>
            <form role="form" class="login-form">
                <div class="form-group">
                    <label class="sr-only" for="form-username">Email</label>
                    <input type="text" name="email" placeholder="@email" class="form-username form-control" id="email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-password form-control" id="password">
                </div>
                <button type="submit" class="btn">Sign in!</button>
            </form>
        </div>
    </div>

    <div class="social-login">
        <h3>Already SignUp But Not Activated: 
            <a class="btn btn-link-2" id="activate">
                <i></i> Activate Here
            </a>
        </h3>
    </div>
</template>
