<template name="SignUp">
    <div class="form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Sign up now</h3>
                <p>Fill in the form below to get instant access:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="form-bottom">
            <form role="form" class="registration-form">
                <div class="form-group">
                    <label class="sr-only" for="firstName">First name</label>
                    <input type="text" name="firstName" required="required" placeholder="First Name" class="form-first-name form-control" id="firstName">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input type="text" name="email" required="required" placeholder="Email" class="form-email form-control" id="email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phoneNumber">Mobile Number</label>
                    <input type="tel" name="phoneNumber" required="required" placeholder="Mobile Number with country Code" class="form-first-name form-control" id="phoneNumber">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input type="password" name="password" required="required" placeholder="Password" class="form-last-name form-control" id="form-last-name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" required="required" placeholder="Confirm Password" class="form-last-name form-control" id="form-last-name">
                </div>
                <button type="submit" class="btn">Sign me up!</button>
            </form>
        </div>
    </div>
</template>
    