<template name="UpdatePhone">
    <div class="top-content">	
        <div class="inner-bg">
            <div class="container">
                <div class="col-sm-5 activate-center">         
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Add Your Phone Number</h3>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-mobile"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" method="post" class="login-form">
                                <div class="form-group">
                                    <label class="sr-only" for="email">Phone Number</label>
                                    <input type="tel" name="phoneNumber" placeholder="Mobile Number with country Code" class="form-username form-control" id="phoneNumber">
                                </div>
                                <button type="submit" class="btn">Submit</button>
                            </form>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>