<template name="Buildings">
	{{#if Template.subscriptionsReady}}
		{{#if $.Session.get 'newBuilding'}}
			{{> NewBuilding}}
		{{else}}
			<button class="new-element">New Building</button>
		{{/if}}	
		<section class="element">
			{{#if Template.subscriptionsReady}}
				{{#each buildings}}
					{{> Building}}
				{{/each}}
			{{else}}
				<p>Loading...</p>
			{{/if}}
		</section>
	{{/if}}
</template>