<template name="Building">
    <article class="element in-menu">
        <a id="{{_id}}" href="/portfolio/{{portfolioId}}/building/{{_id}}">
            <h4>{{name}}</h4>
            {{#if editMode}}
                <form novalidate="novalidate" class="new-element-container" id="updateBuilding">
                    <div data-required="true" class="form-group">
                        <label class="control-label" for="updatedName">Name</label>
                        <input class="form-control" value={{name}} required="" id="updatedName" name="updatedName" type="text">
                    </div>
                    <div data-required="true" class="form-group">  
                        <label class="control-label" for="updatedAddress">Address</label>
                        <input class="form-control" value={{address}} required="" id="updatedAddress" name="updatedAddress" type="text">
                    </div>
                    <div class="form-group">
                        <button id="update-btn" class="btn btn-primary" type="submit">Update</button>
                    </div> 
                </form>
            {{else}}
                <p>{{address}}</p>
            {{/if}}
        </a>
        <i class="fa fa-trash"></i>
        <i class="fa fa-pencil"></i>
    </article>
</template>