<template name="NewBuilding">
    <div class="new-element-container">
        <i class="fa fa-close"></i>
        <form novalidate="novalidate" class="new-building-form" id="insertBuildingForm">
            <div data-required="true" class="form-group">
                <label class="control-label" for="name">Name</label>
                <input class="form-control" data-schema-key="name" required="" id="name" name="name" type="text">
                <span class="help-block"></span>
            </div>
            <div data-required="true" class="form-group">  
                <label class="control-label" for="address">Address</label>
                <input class="form-control" data-schema-key="address" required="" id="address" name="address" type="text">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div> 
        </form>
    </div>
</template>
