<template name="NewPortfolio">
    <div class="new-element-container">
        <i class="fa fa-close"></i>
        <form novalidate="novalidate" class="new-portfolio-form" id="insertPortfolioForm">
            <div data-required="true" class="form-group">
                <label class="control-label" for="name">Name</label>
                <input class="form-control" data-schema-key="name" required="" id="PortfolioName" name="PortfolioName" type="text">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div> 
        </form>
    </div>
</template>