<template name="Portfolio">
    <article class="element in-menu">
        <a id="{{_id}}" href="/portfolio/{{_id}}/buildings">
            <h4>{{name}}</h4>
            {{#if editMode}}
                <form novalidate="novalidate" class="new-element-container" id="updatePortfolio">
                    <div data-required="true" class="form-group">
                        <label class="control-label" for="updatedName">Name</label>
                        <input class="form-control" value={{name}} required="" name="portfolioUpdatedName" type="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div> 
                </form>
            {{/if}}
        </a>
        <i class="fa fa-trash"></i>
        <i class="fa fa-pencil"></i>
    </article>
</template>