<template name="Portfolios">
	{{#if Template.subscriptionsReady}}
		{{#if $.Session.get 'newPortfolio'}}
			{{> NewPortfolio}}
		{{else}}
			<button class="new-element">New Portfolio</button>
		{{/if}}	
		<section class="element">
			{{#if Template.subscriptionsReady}}
				{{#each portfolios}}
					{{> Portfolio}}
				{{/each}}
			{{else}}
				<p>Loading...</p>
			{{/if}}
		</section>
	{{/if}}
</template>