<template name="NotFound">
  <div class="wrap-notfound">
    <div class="main-notfound">
      <div class="banner-notfound">
        <img src="/images/banner.png" alt="" />
      </div>
      <div class="text-notfound">
        <h1 class="h1-notfound">The requested url was not found !...</h1>
        <p class="para-notfound">Sorry!Evidently the document you were looking for has either been moved or no longer exist,,</p>
      </div>
    </div>
    <div class="footer-notfound"></div>
  </div>
</template>