<template name="Header">
    <header class="billboard">
        <h1>My Buildings Portfolio</h1>
        <div id="login-buttons" class="login-buttons-dropdown-align-">  
            <div class="login-link-and-dropdown-list">
                <a class="login-link-text loggedin-email-position" id="login-name-link">{{loggedInUserEmail}}</a>
            </div>
        </div>
        <button type="button" class="logout-button-position" aria-haspopup="true" aria-expanded="false">
            LogOut
        </button>
    </header>
</template>