<template name="Home">
    <div class="top-content">	
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Building Ownership Management System</strong></h1>
                        <h4>A <strong>Free</strong> Platform to Manage Your <strong>Properties</strong></h4>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-5">
                        {{> LogIn}}
                    </div>
                    <div class="col-sm-1 middle-border"></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        {{> SignUp}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
