<template name="MainLayout">
    {{#if userLoggedIn}}
        {{> Header}}
        {{> SideNav}}
        <main class="main-layout">
            {{> Template.dynamic template=main}}
        </main>
    {{/if}}
</template>
