<template name="SideNav">
    <nav class="side-nav">
        <ul>
            {{#if Template.subscriptionsReady}}
                {{#if isOwner}}
                    <li>
                        <a href="/portfolios"><i class="fa fa-list"></i> Portfolios</a>
                    </li>
                    {{#if portfolioId}}
                    <li>
                        <a href="/portfolio/{{portfolioId}}/buildings"><i class="fa fa-list"></i> Buildings</a>
                    </li>
                    {{/if}}
                {{/if}}
                <li>
                    <a href="/profilesettings"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Profile Settings</a>
                </li>
            {{/if}}
        </ul>
    </nav>
</template>