<template name="ProfileSettings">
	<div class="form-box">
		<div class="form-top">
			<div class="form-top-left">
				<h3>Update Your Phone Number</h3>
			</div>
			<div class="form-top-right">
				<i class="fa fa-mobile"></i>
			</div>
		</div>
		<div class="form-bottom">
			<form role="form" method="post" class="login-form">
				<div class="form-group">
					<label class="sr-only" for="email">Phone Number</label>
					<input type="tel" name="updatedPhoneNumber" value={{currentPhoneNumber}} placeholder="Mobile Number with country Code" class="form-username form-control" id="updatedPhoneNumber">
				</div>
				<button type="submit" class="btn">Update</button>
			</form>
		</div>
	</div>
</template>
